*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
.container {
    margin: 0 auto;
    max-width: 1440px;
    min-height: 100% 
}
/* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v27-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/roboto-v27-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/roboto-v27-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto-v27-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/roboto-v27-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/roboto-v27-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
  }
  /* roboto-500 - latin */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/roboto-v27-latin-500.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/roboto-v27-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/roboto-v27-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto-v27-latin-500.woff') format('woff'), /* Modern Browsers */
         url('../fonts/roboto-v27-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/roboto-v27-latin-500.svg#Roboto') format('svg'); /* Legacy iOS */
  }

  /*+++++++++++++++Header+++++++++++++++*/

.header {
    background-image: url("../img/castelmezzano.svg");
    height: 100vh;
}
.header_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 51px 104px 0;
}
.header_logo {
    margin-right: 104px;
}
.header_icon{
    width: 205px;
    height: 40px;
    color: #3077C6;
}
.nav {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 400;
}
.nav_link {
    color: #fff;
    text-decoration: none;
    margin-right: 24px;
}

.nav_link_icon {
    text-decoration: none;
    margin-left: 24px;
}
.nav a:hover {
    border-bottom: solid 4px #F5BD41;
}
.night {
    width: 30px;
    height: 30px;
    color: #FFFFFF;
}
.account {
    width: 40px;
    height: 40px;
    color: #FFFFFF;
}

/*+++++++++++++++Intro+++++++++++++++*/

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 50px;
    color: #fff;
}

.intro{
    display: flex;
    flex-direction: column;
}

.intro_inner {
    margin-top: 202px;
    margin-left: 104px;
    margin-bottom: 100px;
}

.intro_text {
    display: flex;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    margin-left: 128px;
    margin-bottom: 24px;
}

.intro_text_first {
    margin-right: 221px;
}


.search_line {
    display: flex;
    justify-content: center;
    height: 64px;
    
}
.search_line_city {
    border-radius: 8px;
    padding: 0px 358px 0px 24px;
    width: 467px;
}

.search_line_city::-webkit-input-placeholder {
    color: black;
}

.search_line_date {
    border: 3px solid #F5BD41;
    border-radius: 8px;
    padding: 0px 24px;
    width: 259px;

}

.search_line_date::-webkit-input-placeholder {
    color: black;
}

.search_line_room {
    border-radius: 8px;
    padding: 0px 24px;
    width: 314px;
}

.search_line_room::-webkit-input-placeholder {
    color: black;
    }

.submit {
    background: #3077C6;
    color: #fff;
    font-weight: 500;
    font-size: 24px;
    border-radius: 8px;
    width: 192px;
    height: 64px;
}

.downloads {
    display: flex;
    justify-content: center;
    margin-top: 120px;
}

.downloads_content {
    padding: 16px;
}

  /*+++++++++++++++Block+++++++++++++++*/
.block {
    height: 100vh;
}
.first_block {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.line {
    display: flex;
    width: 100px;
    height: 4px;
    background: #F5BD41;
    margin-bottom: 97px;
}
.item_container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 114px;
}
.item_title {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    margin-top: 56px;
}
.item {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.item_wrapper {
    height: 100%;
}
h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: 500;
    color: #383838;
    margin-top: 120px;
    margin-bottom: 20px;
}
.item_support {
    width: 75px;
    height: 91px;
    color: #3077C6;
}
.item_communicate {
    width: 83px;
    height: 83px;
    color: #3077C6;
}
.item_book {
    width: 100px;
    height: 67px;
    color: #3077C6;
}
.item_real {
    width: 92px;
    height: 83px;
    color: #3077C6;
}
/*+++++++++++++++Footer+++++++++++++++*/

.footer {
    background-color: #10367C;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.footer_column {
    list-style: none;
    padding-top: 120px;
}
.footer_text {
    padding-bottom: 24px;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
}
.footer_title {
    padding-bottom: 24px;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
}
.copyright_text {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: normal;
    color: #ffffff;
    padding-top: 64px;
    padding-left: 103px;
    padding-bottom: 120px;
    width: 100%;
}

@media screen and (max-width: 1280px) {
    .block {
        max-width: 970px;
        
    }  
}
@media screen and (max-width: 992px) {
    .block {
        width: 750px;
    }  
}
@media screen and (max-width: 768px) {
    .block {
        max-width: 533px;
    }  
}
@media screen and (max-width: 320px) {
    .container {
        max-width: none;
        display: flex;
        flex-direction: column;
    }
    .block {
        max-width: none;
        display: flex;
        flex-direction: column;
        
    }  
    .item_container {
        display: flex;
        flex-direction: column;
    
    }
    .item_title {
        
    }

}